.subTitle {
    margin-top: 20px;
}

.resultsCard {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    text-transform: lowercase;
    margin-right: 20px;
    margin-left: 20px;
}

.result {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: lowercase;
}

.title {
    font-size: 14px;
    text-transform: lowercase;
    font-weight: bold;
}

.title .open {
    display:inline;
}

.title .closed {
    display:inline;
}

.button {
    text-align: center;
}

.subTitle {
    font-weight: bold;
}

.open {
    color: seagreen;
    font-weight: bold;
}
  
.closed {
    color: lightcoral;
    font-weight: bold;
}

.unknown {
    color: black;
    font-weight: bold;
}
  
.pending {
    color :rgb(114, 148, 128);
    font-weight: bold;
}  

.results {
    vertical-align: top;
    display: inline-flex;
    justify-self: left;
}

.icon {
    font-size: 14px;
    text-align: center;
    padding-right: 10px;
}

.standard-padding {
    padding: 8px;
}

.card-container {
    padding: 24px;
    border-radius: 6px;
}

.result {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform:capitalize;
}

.button {
    margin-top: 50px;
    margin-bottom: 30px;
}

.details {
    vertical-align: top;
    display: inline-flex;
    justify-self: left;
}

.backArrow {
    text-align: left;
}

.loadingAnimation {
    display: flex;
    justify-content: center;
}

.desktopTable {
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    text-transform: lowercase;
}

.mobileTableHeader {
    font-weight: bold;
    display: inline-block;
}

.mobileTable {
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: lowercase;
}

.historyTable {
    margin-left: 40px;
    margin-right: 40px;
}

.tableHelper {
    font-size: small;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
}
