.results {
    font-size: 14px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.lineItem {
    margin-top: 30px;
    margin-bottom: 30px;
}

.result {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: lowercase;
}

.title {
    font-weight: bold;
}

.button {
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    width: 100%;
    text-align: left;
}

html {
    scroll-behavior: smooth;
    margin-left: 40px;
    margin-right: 40px;
  }

h2 {
    text-transform: lowercase;

}

.open {
    color: green;
    font-weight: bold;
}

.closed {
    color: red;
    font-weight: bold;
}

h3 {
    text-transform: lowercase;
}
