table {
    table-layout: fixed;
}

html {
    scroll-behavior: smooth;
}

h2 {
    text-transform: lowercase;
}

h3 {
    text-transform: lowercase;
}

h4 {
  text-transform: lowercase;
}

tr.result td {
  border-bottom: 3px double grey;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
  padding-bottom: 10px;
}

.open {
  color: seagreen;
  font-weight: bold;
}

.closed {
  color: lightcoral;
  font-weight: bold;
}

.subheader {
    font-size: small;
    margin-bottom: 15px;
}

.results {
  font-size: 14px;
  text-align: center;
}

.result {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.mobileResults {
  padding-top: 20px;
  font-size: 14px;
}

.lineItem {
  margin-top: 30px;
  margin-bottom: 30px;
}

.browse {
  margin-left: 40px;
  margin-right: 40px;
}

.desktopTable {
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  text-transform: lowercase;
}

.mobileTableHeader {
  font-weight: bold;
  display: inline-block;
}

.mobileTable {
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: lowercase;
}

tr:hover {
  background-color: rgb(250, 250, 250);
}

.MuiTableSortLabel-root {
  font-weight: bold;
}

.MuiToolbar-root {
  display: flex;
  position: fixed;
  align-items: center;
}

.mobileSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 20px;
  padding-bottom: 25px;
  text-transform: lowercase;
}

.desktopSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 60px;
  text-transform: lowercase;
}
