.Home {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .Home-header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  h1 { 
    font-family: Bangers; 
    font-size: 38px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 26.4px; 
    margin-bottom: 30px;
  } 
  
  h3 { 
    font-family: Bangers; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
  } 

  .searchBar {
    margin-top: 20px;
    display: flex;
    min-height: 75vh;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .topText {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .bottomText {
    margin-bottom: 30px;
  }
  